
.icon-arr02:before { content: '\e800'; } /* '' */
.icon-fax:before { content: '\e801'; } /* '' */
.icon-fb:before { content: '\e802'; } /* '' */
.icon-flag:before { content: '\e803'; } /* '' */
.icon-ig:before { content: '\e804'; } /* '' */
.icon-line:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-map:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-arr01:before { content: '\e80a'; } /* '' */
